[data-theme="dark"],
:root:not([data-theme]) {
  --primary: #e53935;
  --primary-hover: #f44336;
  --primary-focus: rgba(229, 57, 53, 0.25);
  --primary-inverse: #fff;
  --border-radius: 0.5rem;
  --background-color: #121212;
}

body > main,
body > header {
  box-sizing: border-box;
}

body > header {
  text-align: center;
}

body > main {
  padding: 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(1.5 * var(--spacing));
}

body > main > * {
  margin: 0;
}

#player1,
#player2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(1.5 * var(--spacing));
}

#player1 > *,
#player2 > * {
  margin: 0;
}

.svgrepo {
  filter: invert(1);
}

.player-moves {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: var(--spacing);
}

.player-move {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: calc(var(--spacing) / 2);
  margin: 0;
  height: 3rem;
  line-height: 1.15;
  transition: all 0.1s ease-in-out;

  --border-color: var(--background-color);
}

@media (max-width: 768px) {
  .player-moves {
    grid-gap: calc(var(--spacing) / 2);
  }

  .player-move span {
    display: none;
  }
}

.player-move[value="reload"] {
  --background-color: #3498db;
}

.player-move[value="shoot"] {
  --background-color: #e74c3c;
}

.player-move[value="take-out-knife"] {
  --background-color: #2ecc71;
}

.player-move[value="block"] {
  --background-color: #f39c12;
}

.player-move[value="stab"] {
  --background-color: #9b59b6;
}

.player-move[disabled] {
  --background-color: #505050;
}

.player-move img {
  width: 1.25rem;
  height: 1.25rem;
}

.last-move,
.last-move .player-move {
  width: 100%;
  pointer-events: none;
}

.last-move .player-move span {
  display: block;
}

.blank-move {
  border: 2px dashed;
  background: none;
}

.player-state {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player-state > *:not(:first-child):not(:empty)::before {
  content: "•";
  margin: 0 calc(var(--spacing) / 2);
}

.player-state > *:empty {
  display: none;
}

@media (max-width: 768px) {
  .player-state {
    flex-direction: column;
    text-align: center;
  }

  .player-state > *:not(:first-child):not(:empty)::before {
    content: none;
  }
}

#vs {
  display: flex;
  align-items: center;
  justify-content: center;
}

#vs::before,
#vs::after {
  content: "";
  flex: 1;
  height: 1px;
  margin: 0 calc(var(--spacing) / 2);
  background-color: var(--muted-color);
}
