[data-theme="dark"],
:root:not([data-theme]) {
  --primary: #e53935;
  --primary-hover: #f44336;
  --primary-focus: rgba(229, 57, 53, 0.25);
  --primary-inverse: #fff;
  --border-radius: 0.5rem;
  --background-color: #121212;

  --color-reload: #3498db;
  --color-shoot: #e74c3c;
  --color-take-out-knife: #2ecc71;
  --color-block: #f39c12;
  --color-stab: #9b59b6;
}

body > main,
body > header {
  box-sizing: border-box;
}

body > header {
  text-align: center;
  padding-bottom: 0;
}

body > main {
  padding: 0;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(1.5 * var(--spacing));
}

body > main > * {
  margin: 0;
}

#player1,
#player2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(1.5 * var(--spacing));
}

#player1 > *,
#player2 > * {
  margin: 0;
}

.svgrepo {
  filter: invert(1);
}

.player-lost {
  filter: sepia(1);
  opacity: 0.35;
}

.player-moves {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: var(--spacing);
}

.player-move {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  gap: calc(var(--spacing) / 2);
  margin: 0;
  height: 3rem;
  line-height: 1.15;
  transition: all 0.1s ease-in-out;

  --border-color: var(--background-color);
}

@media (max-width: 768px) {
  .player-moves {
    grid-gap: calc(var(--spacing) / 2);
  }

  .player-move span {
    display: none;
  }
}

.player-move[value="reload"] {
  --background-color: var(--color-reload);
}

.player-move[value="shoot"] {
  --background-color: var(--color-shoot);
}

.player-move[value="take-out-knife"] {
  --background-color: var(--color-take-out-knife);
}

.player-move[value="block"] {
  --background-color: var(--color-block);
}

.player-move[value="stab"] {
  --background-color: var(--color-stab);
}

.player-move[disabled] {
  --background-color: #505050;
}

.player-move img {
  width: 1.25rem;
  height: 1.25rem;
}

.last-move,
.last-move .player-move {
  width: 100%;
  pointer-events: none;
}

.last-move .player-move span {
  display: block;
}

.blank-move {
  border: 2px dashed;
  background: none;
}

.player-state {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player-state > *:not(:first-child):not(:empty)::before {
  content: "•";
  margin: 0 calc(var(--spacing) / 2);
}

.player-state > *:empty {
  display: none;
}

@media (max-width: 768px) {
  .player-state {
    flex-direction: column;
    text-align: center;
  }

  .player-state > *:not(:first-child):not(:empty)::before {
    content: none;
  }
}

#vs {
  display: flex;
  align-items: center;
  justify-content: center;
}

#vs::before,
#vs::after {
  content: "";
  flex: 1;
  height: 1px;
  margin: 0 calc(var(--spacing) / 2);
  background-color: var(--muted-color);
}

.move-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin: var(--typography-spacing-vertical) 0;
}

.move-container > .move {
  border-right: 1px solid var(--muted-color);
  padding-right: calc(var(--spacing));
}

#move-history {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: calc(var(--spacing));
  overflow-x: scroll;
  white-space: nowrap;
  padding: 0 calc(var(--spacing));
}

#move-history span.placeholder {
  color: var(--muted-color);
  margin: auto;
}

.move {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: var(--spacing) 0;
}

.move img {
  width: 3em;
}

.move span {
  font-size: 3em;
  line-height: 1;
}

#save-history {
  margin: 0;
  border-width: 2px;
}

#save-history img {
  filter: invert(1);
}
